/**
 * @file
 * @project 746
 * @package sftheme
 * @site app1
 */

/*----------------------------------
		Typography
----------------------------------*/

h1, h2, h3, h4, h5, h6 {font-weight:normal;}
h1 {font-size:24px;margin:10px 0;padding:0px;font-family: Georgia, "Nimbus Roman No9 L", serif;}
h2 {font-size:24px;margin:10px 0;padding:0px;font-family: Georgia, "Nimbus Roman No9 L", serif;}
h3 {font-size:18px;margin:10px 0;padding:0px;font-family: Georgia, "Nimbus Roman No9 L", serif;}
h4 {font-size:18px;margin:5px 0;padding:0px;font-family: Georgia, "Nimbus Roman No9 L", serif;line-height: 18px;}
h5 {font-size:13px;font-weight:bold;margin:5px 0;padding:0px;font-family: Georgia, "Nimbus Roman No9 L", serif;}
h6 {font-size:13px;font-weight:bold;margin:3px 0;padding:0px;font-family: Georgia, "Nimbus Roman No9 L", serif;}


/*----------------------------------
		General
----------------------------------*/

body {
	margin: auto;
	background-color: #fbe9c5;	
	font-family: Georgia, "Nimbus Roman No9 L", serif;
	font-size: 13px;
	font-weight: normal;	
}

.sf_outer_wrapper {
	width: 1024px;
    margin: 20px auto;
}

.sf_wrapper {
	width: 1010px;
    margin: 0 auto;		
	border: 7px solid #fff;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

.sf_wrapper:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

/*--------------------------------
		Navigation
---------------------------------*/

.sf_region1 {		
	background-image: url(images/746_navbtm.png);
	background-repeat: no-repeat;
	background-position: top;
}

*html .sf_region1 {
	background-image: none;
}

.sf_navigation h3 {
	display:none;
}

.sf_navigation .widget_content {
	padding: 0px;
	margin: 0px;
}

.sf_navigation {	
	clear:both;		
	min-height:35px;
	height:auto !important;
	height:35px;	
	padding:0;	
	width:950px;
	margin: 0 40px;	
}

.sf_navigation:after {
	content: " ";
	display: block;
	clear: both;
	visibility: hidden;
	font-height: 1px;
	margin:0px;
	padding:0px;
}

.sf_navigation ul {
	margin:0px;
	padding:0px;
	list-style-type:none;
	height:1%;
	float: left;
}

.sf_navigation ul:after {
	content: ".";
    display: block;
    visibility: hidden;
    height: 0;
    font-size: 1px;
    clear: both;
}

.sf_navigation ul li {
	float:left;
	min-height:20px;
	height:auto !important;
	height:20px;
	padding:0;
	white-space:nowrap;	
	background-color: #fff;
	margin-right: 6px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-bottom: 1px;
}

.sf_navigation ul li.sf_last_nav_item {	
	padding-right: 0px;
}

.sf_navigation ul li.sf_first_nav_item {	
}

.sf_navigation ul li a {	
	padding: 8px 20px 9px;
	text-decoration:none;
	display: block;	
	font-family: Georgia, "Nimbus Roman No9 L", serif;
	font-size:16px;		
}

.sf_navigation ul li a:visited {		
	text-decoration:none;
}

.sf_navigation ul li a:hover {	
	color: #ffffff;
	text-decoration: none;	
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.sf_navigation ul li:hover a {		
	color: #ffffff;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

/*------------------------------------
	Flyout menu
------------------------------------*/

.sf_navigation .subnav { /* second-level lists */
	float: left;
	position: absolute;	
	width: 160px;
	left: -999em;
	z-index: 1000;
	margin: 0;
	border-top: 1px solid #f6f3ec;
}

.sf_navigation .subnav li { 
	background-color: #ffffff;
	width: 158px;	
	white-space: normal;
	height: auto;		
	margin: 0;
	padding: 0;	
}

.sf_navigation .subnav li a { 
	width: 118px;
	height: auto;
	padding: 3px 20px;
	color: #724634 !important;		
	margin: 0;
	font-size:14px;	
	background-color: #ffffff !important;
	-webkit-border-radius: 0 !important;	
	-moz-border-radius: 0 !important;	
	border-radius: 0 !important;
	border-left: 1px solid #f6f3ec;
	border-right: 1px solid #f6f3ec;
	border-bottom: 1px solid #f6f3ec;
}

.sf_navigation .subnav li a:visited {
	color: #724634 !important;	
}

.sf_navigation .subnav li a:hover { 
	color: #724634 !important;
	text-decoration: none;
	background-color: #efebe2 !important;
	height: auto;	
	margin: 0;	
}


#Nav1 li:hover ul, 
#Nav1 li.sfhover ul { /* lists nested under hovered list items */
	left: auto;	
}

#Nav1 iframe {
	position: absolute;
	/* account for the border */
	left: -0.25em;
	top: -0.25em;
	z-index: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0);
	margin-left: 3px;
}
 
#Nav1 li:hover, #Nav1 li.hover {  
    position: static;  
}

/*--------------------------------
		End Navigation
---------------------------------*/
	
/*--------------------------
		Content
--------------------------*/
.sf_main {
	float: right;	
	width: 645px;
	margin: 40px 40px 40px 0;
	_margin: 40px 20px 40px 0;
	background-color: #ffffff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	 -moz-box-shadow: 3px 3px 10px #6f6f6f;
  	-webkit-box-shadow: 3px 3px 10px #6f6f6f;
  	box-shadow: 3px 3px 10px #6f6f6f;
}

.sf_region6 {
	float: right;	
	margin: 10px;	
	width: 622px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.sf_pagetitle {		
	font-size:30px;	
	text-align: center;	
	padding: 7px 0;
	margin: 10px 35px;
	border-bottom: 2px dotted #724634;
}

.sf_pagetitle h1 {
	font-size:30px;
	font-weight:normal;
	margin:0;
}

.sf_content {		
	padding: 0 30px 30px;
	min-height: 150px;
	line-height: 1.7;
	color: #724634;
}

.sf_content:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.sf_extra9 {	
	width: 265px;
	height: 244px;
	margin-top: -294px;
	margin-left: 38px;
	_float: left;
}

* html .sf_extra9 {
 behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",  this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",  this.src = "images/spacer.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("', '').replace('")', ''),  this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')",  this.runtimeStyle.backgroundImage = "none")), this.pngSet=true));
}


/*--------------------------
		End Content
--------------------------*/

/*--------------------------
		SFPod
--------------------------*/
.sf_pod {
	color: #FFFFFF;
    float: left;
    min-height: 355px;
    padding: 0 15px;
    text-align: center;
	font-size: 14px;
}
.sf_pod a{
	color: #FFFFFF;
	text-decoration:underline;
	}
.sf_pod a:visited{
	color: #FFFFFF;
	text-decoration:underline;
	}
.sf_pod a:hover{
	color: #FFFFFF;
	text-decoration:none;
	}	
/*--------------------------
		End SFPod
--------------------------*/
/*--------------------------
		 Footer
--------------------------*/

.sf_region10 {
	clear:both;
	width: 980px;
	margin: auto;	
	margin-top: 60px;
	.margin-top: 0;
}

.sf_footer {	   
    clear:both;
	font-family: Georgia, "Nimbus Roman No9 L", serif;	
	text-align:center;	
	padding:20px 0 10px;
	font-size:10px;
	color: #724634;
}

.sf_footer p {
	margin:0px;
	padding:0px;
}

.sf_banner {
	margin: 0px auto;
	padding: 10px 0 20px;
	text-align: center;
	font-size: 10px;
}

#bannerLink {
	padding: 10px 0 0;
}

/*--------------------------
		End Footer
--------------------------*/

/*--------------------------
		Sidebar
--------------------------*/

.sf_region4 {
	float: left;
	display:inline;
	width: 325px;
	overflow: hidden;
	color: #ffffff;	
	_margin-bottom: 250px;
}

.sf_main_header {
	text-align: center;	
	font-family: Georgia, "Nimbus Roman No9 L", serif;
	font-size: 52px;
	font-weight: normal;
	font-variant: normal;
	color: #ffffff;
	padding: 30px 20px;
	text-outline: 1px 1px #000;
	line-height: 1;
}

*html .sf_main_header {
	height: 235px;
	overflow: hidden;
}

.sf_sub_header {
	display: none;
}

.sf_main_header p {
	margin: 0;
	padding: 0;
}

.sf_region4 .widgetset {
	margin: 0 30px 280px;
	width: 255px;
}

.sf_region4 .widget_content {	
	padding: 10px 0 0;	
	font-size: 12px;	
}

.widgetset .widget {	
	padding:20px 0;
	min-height: 1%;
	height: auto !important;
	height: 1%;	
}

.widgetset .widget_header {
	margin:0px;
	padding:0px 0px;
	font-size:24px;
	font-weight: normal;
	color: #ffffff;
}

.widgetset ul, .widgetset ol {
	margin:0px;
	padding:0px;
	list-style-type:none;
}

.widgetset li {
	margin:0px;
	padding:4px 0px;	
	overflow:hidden;
}

.widgetset a:link, .widgetset a:visited {
	text-decoration:none;
	padding: 2px 0px;
	color: #ffffff;
}

.widgetset a:hover {
	padding: 2px 0px;
	text-decoration: underline;
}

.widgetset .form_item {
	margin:5px 0px;
}

.widgetset input, .widgetset select {	
	width:150px;
}

.widgetset .btn {
	width:auto;
	margin: 3px 0px;
}

/*--------------------------
		Other
--------------------------*/

.btn, .checkout a.button, .checkout input.button {
	margin: 3px 3px 3px 0;
	padding: 2px;	
	font-size: 12px;
	font-weight: normal;
	font-family: Georgia, "Nimbus Roman No9 L", serif;
	cursor: pointer;
	border-style: solid;
	border-width: 1px;
	border-color: #724634;
	color: #ffffff;
	background-color: #8c5437;
}

.btn:hover, .checkout a.button:hover, .checkout input.button:hover {
	background-color: #754025;
}

input[type="text"], textarea {
	border-color: #d8d8d8;
}

.search-control .btn {
	padding: 0;
}
